html, body, section, div, b {
	margin: 0;
	padding: 0;
	border: 0;
}

#paginator {
    border-left: 1px solid #000;
    box-sizing: border-box;
    position: fixed;
    right: 18px;
    top: 50%;
    width: 0;
}

#paginator b {
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin: -1px 0 15px -6px;
    width: 11px;
}

#paginator b.active-screen {
    opacity: .5;
    cursor: default;
}

/* SECTIONS */

.z-scroll {
	height: 500px;
	width: 100%;
}

.z-scroll:nth-child(1) {
	background: #72B5AC;
}

.z-scroll:nth-child(2) {
	background: #F7FBAF;
}

.z-scroll:nth-child(3) {
	background: #8F9281;
}

.z-scroll:nth-child(4) {
	background: #6F7664;
}

.z-scroll:nth-child(5) {
	background: #614A38;
}