html, body, section, div, b {
	margin: 0;
	padding: 0;
	border: 0;
}

#paginator {
    border: 1px solid #b1c9bc;
    box-sizing: border-box;
    height: 160px;
    margin-top: -80px;
    position: fixed;
    right: 18px;
    top: 50%;
    width: 0;
}

#paginator b {
    background: #b1c9bc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: -1px 0 15px -5px;
    width: 10px;
}

#paginator b.active-screen {
    background: #3c9;
    cursor: default;
}

.z-scroll {
	height: 500px;
	width: 100%;
}

.z-scroll:nth-child(1) {
	background: #72B5AC;
}

.z-scroll:nth-child(2) {
	background: #F7FBAF;
}

.z-scroll:nth-child(3) {
	background: #8F9281;
}

.z-scroll:nth-child(4) {
	background: #6F7664;
}

.z-scroll:nth-child(5) {
	background: #614A38;
}